.form-container {
	height: 40%;
	width: 100%;

	.form {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		align-items: center;
		div {
			width: 70%;
			height: 60px;
			padding: 5px;
			border: #b2b2b2 1px solid;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			#search {
				width: 100%;
				height: 50px;
				border: none;
				display: flex;
				justify-content: center;
				align-items: center;
				border-bottom: 1px solid #b2b2b2;
				&:focus {
					outline: none;
					background-color: white !important;
				}
			}

			button#start {
				width: 20%;
				height: 50px;
				border: none;
				color: white;
				font-size: 1.3em;
				margin-top: 20px;
				margin-bottom: 20px;
				border-radius: 10px;
			}
			button.processing-results {
				background-color: #43884a;
				cursor: pointer;
				transform: scale(0.9);
				transition: 1.3s;

				&:disabled {
					background-color: #00b6797a;
					cursor: not-allowed;
					transform: scale(1);
					transition: 0.8s;
				}
				&--ready {
					background-color: #61c86b;
					outline: none;
					transform: scale(1);
					transition: 2s;
				}
				&:hover {
					background-color: #6cc575;
					transform: scale(1.01);
					transition: 0.5s;
				}
				&--ready:active {
					background-color: #4d9a55;
					transform: scale(0.9);
					transition: 0.1s;
				}
			}
		}
	}
}
