.bloc {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 85%;
	margin: 10px;
	span {
		font-size: 1.2em;
		font-weight: semi-bold;
		width: 90%;
	}
	div.container-checks {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		width: 100%;
		margin: 10px;
		> * {
			margin: 0 10px;
			width: 20vw;
		}
		span {
			width: 10%;
		}
		> div {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			margin: 0 2%;
		}
		div.other-solution {
			input {
				border: none;
				border-bottom: 1px solid #b2b2b2;
				background-color: transparent;
				&:focus {
					outline: none;
					background-color: white !important;
				}
			}
		}
	}
	button#ValideData {
		background-color: #57ab5f;
		cursor: pointer;
		transform: scale(0.9);
		transition: 1.3s;
		width: 35%;
		height: 30px;
		border: none;
		color: white;
		font-size: 0.8em;

		&:disabled {
			background-color: #d2ffcd;
			cursor: not-allowed;
			transform: scale(1);
			transition: 0.8s;
		}
		&--ready {
			background-color: #43884a;
			outline: none;
			transform: scale(1);
			transition: 2s;
		}
		&--ready:hover {
			background-color: #306135;
			transform: scale(1.05);
			transition: 0.7s;
		}
		&--ready:active {
			background-color: #4d9a55;
			transform: scale(0.9);
			transition: 0.1s;
		}
	}
}
