#root {
	height: 100%;
	width: 100%;
	#container {
		height: 100%;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		#container-resultat {
			height: 60%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: row;
			#BlocDisplay {
				height: 75%;
				width: 25%;
			}
			#container-form-missing-info {
				height: 75%;
				width: 45%;
				display: none;
				align-items: center;
				flex-direction: column;

				margin: 10px;

				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
			}
		}
	}
}
